body {
	/*background: -webkit-linear-gradient(-90deg, #7d91e4, #DE5D83); /* For Safari 5.1 to 6.0 */
	/*background: -o-linear-gradient(-90deg, #7d91e4, #DE5D83); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(-90deg, #7d91e4, #DE5D83); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(-90deg, #7d91e4, #DE5D83); /* Standard syntax */
}

#section1Container {
    margin: 2% 0 0 0;
    z-index: 1;
    color: #070422;
    font-size: 10vh;
}

#section2Container {
    margin: 2% 0 0 0;
    z-index: 1;
    color: #070422;
    font-size: 2.5vh;
}

#photoImg {
	width: 40vh;
	height: auto;
	border: .5vw solid #070422;
}

#socialMedia {
    font-size: 3vh;
}

#emailMedia {
    font-size: 3vh;
}
	
@media (max-width: 991.98px) {
    #section1Container {
        margin: 0;
    }

    #section2Container {
        margin: 0;
        padding: 3vh;
        border-top: 1px solid #070422;
    }
}
