body {
    background-color: #dbddec;
}

#navbar {
    border-bottom: 1px solid #180976;
}

#information {
	height: 20vh;
}

#section1Container {
    margin: 2vh 0 0 0;
    z-index: 1;
    color: #070422;
    font-size: 10vh;
	height: 75vh;
}

#titleName {
    color: #180976;
}

#section2Container {
    margin: 5vh 0 0 0;
    z-index: 1;
    color: #070422;
    font-size: 2.5vh;
}

#cvContainer {
	font-size: 2.5vh;
	padding-left: 7.5%;
	padding-right: 7.5%;
}

#photoImg {
	width: 32.5vh;
	height: auto;
	border: .25vw solid #070422;
}

#socialMedia {
    margin: 0 1vw 0;
	font-size: 2.5vh;
}

#emailMedia {
    margin: 0 1vw 0;
	font-size: 2.5vh;
}

#email {
    display: flex;
    align-items: center;
    height: 5vh;
}

#instagram {
    display: flex;
    align-items: center;
    height: 5vh;
    margin: 2.5% 0 0 0;
}

#resumeButton {
	display: flex;
	height: 5vh;
	width: 25vh;
	font-size: 2.5vh;
	background-color: #dbddec;
	color: #070422;
	border-radius: 20%;
}
	
@media (max-width: 991.98px) {
    #section1Container {
        margin: 5% 0 0 0;
        padding: 0 0 0 5vh;
    }

    #section2Container {
        margin: 3% 0;
        padding: 2.5vh 5vh;
    }

    #titleName {
        color: #180976;
        font-size: 6.5vh
    }

    #socialMedia {
        margin: 0 2vw 0;
		height: 3.5vh;
    }

    #emailMedia {
        margin: 0 2vw 0;
		height: 3.5vh;
    }

    #email {
        font-size: 5vw;
    }

    #instagram {
       font-size: 5vw;
    }

	#resumeButton {
	   font-size: 4vw;
	   width: 33vw;
    }

	#cvContainer {
	   font-size: 5vw;
	   padding: 0 5% 10% 5%;
	   border-bottom: 1px solid #180976;
    }

	.cvTitle {
		font-size: 5.5vw
	}

    #photoImg {
	    width: 50vw;
	    height: auto;
	    border: .25vw solid #070422;
    }
}
