body {
    background-color: #dbddec;
}

#navbar {
    border-bottom: 1px solid #180976;
}

#section1Container {
    margin: 2vh 0 0 0;
    z-index: 1;
    color: #070422;
    font-size: 10vh;
}

#titleName {
    color: #180976;
}

#section2Container {
    margin: 5vh 0 0 0;
    z-index: 1;
    color: #070422;
    font-size: 2.5vh;
}

#photoImg {
	width: 40vh;
	height: auto;
	border: .25vw solid #070422;
}

#socialMedia {
    margin: 0 1vw 0;
	font-size: 3vh;
}

#emailMedia {
    margin: 0 1vw 0;
	font-size: 3vh;
}

#email {
    display: flex;
    align-items: center;
    height: 5vh;
}

#instagram {
    display: flex;
    align-items: center;
    height: 5vh;
    margin: 2.5% 0 0 0;
}

#resumeButton {
	font-size: 3vh;
	background-color: #dbddec;
	color: #070422;
}
	
@media (max-width: 991.98px) {
    #section1Container {
        margin: 5% 0 2.5% 0;
        padding: 0 0 0 7.5vh;
    }

    #section2Container {
        margin: 2.5% 0;
        padding: 0 7.5vh;
    }

    #titleName {
        color: #180976;
        font-size: 6.5vh
    }

    #socialMedia {
        margin: 0 2vw 0;
    }

    #emailMedia {
        margin: 0 2vw 0;
    }

    #email {
        font-size: 5vw;
    }

    #instagram {
        font-size: 5vw;
    }

	#resumeButton {
	   font-size: 5vw;
    }

    #photoImg {
	    width: 50vw;
	    height: auto;
	    border: .25vw solid #070422;
    }
}
