/* ----------------------------------------------------------------- */
/* this section is styling the thumb container and the actual thumbnails */
#navbar {
    border-bottom: 1.5px solid #180976;
}

.glyphicon-menu-right {
	display: inline-block;
	position: absolute;
	top: 50%;
}

.img {
	height: 15vw;
	width: auto;
}

.iconContainer{
    display: flex;
    margin: 0 7.5% 25% 7.5%;		
    width: 12.5vw;
    height: 12.5vw;
    z-index: 0;
    border: 1px solid #180976;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.iconContainer:hover {
	box-shadow: 7.5px 7.5px 2.5px #7f7cb8;
	/* background-image: url("../assets/bg.jpg"); 
	opacity: .2; */
}

.iconContainer > .iconTitle {
	width: 75%;
	color: #7f7cb8;
	font-size: 1.5em;
	text-align: center;
	display: block;
	margin: auto;
}

.iconContainer:hover .img{
	display: none;
}

#galleryDetailContainer {
	height: 80vh;  
	margin-top: 5vh;
}

#galleryIconContainer {
	overflow: scroll;
	height: 80vh;
	margin-top: 5vh;
}

#carouselContainer > #carousel-example-generic {
	max-height: 80vh;  
	max-width: 100%; 
	position: absolute;  
	top: 0;  
	bottom: 0;  
	left: 0;  
	right: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-inner {
	max-height: 80vh;  
}

.carousel-inner > .item {
	max-height: 80vh;  
}

.carousel-inner > .item img {
	max-width: 60%;
	max-height: 80%;  
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.carousel-caption {
	color: #070422;
	font-size: 22.5px;
}

.descriptionItems {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.descriptionTitle {
	font-style: italic;
	font-size: 40px;
	color: -webkit-linear-gradient(-90deg, #7d91e4, #DE5D83); /* For Safari 5.1 to 6.0 */
	color: -o-linear-gradient(-90deg, #7d91e4, #DE5D83); /* For Opera 11.1 to 12.0 */
    color: -moz-linear-gradient(-90deg, #7d91e4, #DE5D83); /* For Firefox 3.6 to 15 */
    color: linear-gradient(-90deg, #7d91e4, #DE5D83); /* Standard syntax */
}

.seeGallery {
	text-decoration: none;
	font-size: 27.5px;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
	color: #7f7cb8;
}

@media only screen and (max-width: 768px) {

	.iconContainer {
		display: inline-block;
		margin: 7.5%;
		color: #070422;		
		width: 12.5vh;
		height: 12.5vh;
		z-index: 0;
		border: 1px solid #180976;
		background-color: #fff;
		margin: 1.25vh;
	}

	#galleryDetailContainer {
		height: 70vh;
	}
	
	#galleryIconContainer {
		overflow: auto;
		white-space: nowrap;
		height: 15vh;
		border-bottom: 1px solid #7f7cb8;
		margin-top: 0vh;
	}
	
}

