/* ----------------------------------------------------------------- */
/* this section is styling the navigation bar on the portfolio page */
body {
    font-family: diazo-mvb-ex-cond, san-serif;
    font-style: normal;
    font-weight: 300;
}

/* .scribbleBG {
    width: 300%;
    height: auto;
    opacity: .1;
    z-index: 0;
} 

.scribbleBG {
    background-image: url('bg.js');
    background-size: cover;
    width: 100%;
    height: 300px;
} */

#navbar {
    top: 0;
    border-bottom: 1.5px solid white;
    height: 10vh;
}

#homepageIcon {
    font-style: bold;
    font-weight: 300;
    font-size: 50px;
    text-decoration: none;
}

#homepageIcon:hover {
    text-decoration: none;
    opacity: .5;
}

#aboutIcon {
    font-size: 20px;
    text-decoration: none;
    position: relative;
    top: 5vh;
}

#aboutIcon:hover {
    text-decoration: none;
    opacity: .5;
}

#galleryIcon {
    font-size: 20px;
    text-decoration: none;
    position: relative;
    top: 5vh;
}

#galleryIcon:hover {
    text-decoration: none;
    opacity: .5;
}

/*#contactIcon {
    font-size: 20px;
    text-decoration: none;
}

#contactIcon:hover {
    text-decoration: none;
    opacity: .5;
}*/

.mainContainer {
    z-index: 1;
}

#artLink {
    color: #fff;
    margin-top: 5.5px;
}

#artLink > a:hover {
    text-decoration-line: none;
    color: gray;
}

#art > a:hover {
    text-decoration-line: none;
}

.glyphicon-home {
    color: #fff;
    margin-top: 5.5px;
}

.glyphicon-home:hover {
    color: #de805b;
}

#x {
    color: black;
    margin-top: 5.5px;
}

