/* ----------------------------------------------------------------- */
/* this section is styling the navigation bar on the portfolio page */
body {
    font-family: diazo-mvb-ex-cond, san-serif;
    font-style: normal;
    font-weight: 300;
}

.scribbleBG {
    width: 300%;
    height: auto;
    opacity: .1;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    z-index: 1;
    border-bottom: 1.5px solid white;
}

#homepageIcon {
    font-family: diazo-mvb-rf2-cond, san-serif;
    font-style: bold;
    font-weight: 300;
    font-size: 20px;
}

#aboutIcon {
    font-size: 14px
}

#galleryIcon {
    font-size: 14px
}

#contactIcon {
    font-size: 14px
}

.mainContainer {
    z-index: 1;
}

#artLink {
    color: #fff;
    margin-top: 5.5px;
}

#artLink > a:hover {
    text-decoration-line: none;
    color: gray;
}

#art > a:hover {
    text-decoration-line: none;
}

.glyphicon-home {
    color: #fff;
    margin-top: 5.5px;
}

.glyphicon-home:hover {
    color: #de805b;
}

#x {
    color: black;
    margin-top: 5.5px;
}

