@keyframes slideInFromLeft {

  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
	font-family: 'Raleway', sans-serif;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

.sign {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 2s linear forwards;
}

/* ----------------------------------------------------------------- */
/* this section is styling the main landing page */
	#mainContainer {
		/*background-color: #fff;*/
	}

	#background {
		height: 100vh;
		width: 100%;
		position: absolute;
		z-index: 0;
		background: #fff/* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(-90deg, #fff, #d4d8d7); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(-90deg, #fff, #d4d8d7); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(-90deg, #fff, #d4d8d7); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(-90deg, #fff, #d4d8d7); /* Standard syntax */
	}

	#mainCover1 {
		height: 100vh;
		background-color: #fff;
		z-index: 3;
	} 

	#mainCover2 {
		height: 100vh;
		background-color: #fff;
		z-index: 2;
	}

	#mainCover3 {
		height: 100vh;
		background-color: #fff;
		z-index: 2;
	}


/* ----------------------------------------------------------------- */
/* these are the lines and everything within those i.e. links to about section, portfolio section and contact section */

	#line2 {
		width: 100%;
		height: 3%;
		position: absolute;
		left: 0;
		top: 42.5%;
		text-align: right;
		padding-right: 1%;
		background:  #f3b13d; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(-45deg,  #f3b13d, #d4d8d7); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(-45deg,  #f3b13d, #d4d8d7); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(-45deg,  #f3b13d, #d4d8d7); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(-45deg,  #f3b13d, #d4d8d7); /* Standard syntax */
	    z-index: 2;
	}

	#line3 {
		width: 100%;
		height: 3%;
		position: absolute;
		left: 0;
		top: 47.5%;
		text-align: right;
		padding-right: 1%;
		background:  #f3b13d; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(-90deg,  #f3b13d, #d4d8d7); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(-90deg,  #f3b13d, #d4d8d7); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(-90deg,  #f3b13d, #d4d8d7); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(-90deg,  #f3b13d, #d4d8d7); /* Standard syntax */
	    z-index: 2;
	}

	#line4 {
		width: 100%;
		height: 3%;
		position: absolute;
		right: 0;
		top: 50%;
		text-align: left;
		background-color: #000;
		z-index: 2;
		padding-left: 6.5%;
		display: inline-block;
		vertical-align: middle;
		/* This section calls the slideInFromLeft animation we defined above */
		animation: 2.25s ease-out 0s 1 slideInFromLeft;
	}
	
	#line10 {
		width: 100%;
		height: 3%;
		position: absolute;
		right: 0;
		top: 52.5%;
		text-align: right;
		padding-right: 1%;
		background:  #f3b13d; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(-90deg, #f3b13d, #d4d8d7);  For Safari 5.1 to 6.0 
	    background: -o-linear-gradient(-90deg, #f3b13d, #d4d8d7); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(-90deg, #f3b13d, #d4d8d7); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(-90deg, #f3b13d, #d4d8d7); /* Standard syntax */
	  	z-index: 2;
	}

	#line6 {
		width: 100%;
		height: 3%;
		position: absolute;
		right: 0;
		top: 45%;
		text-align: left;
		background-color: #000;
		padding-left: 6.5%;
		z-index: 2;
		display: inline-block;
		/* This section calls the slideInFromLeft animation we defined above */
		animation: 1.75s ease-out 0s 1 slideInFromLeft;
	}

	#line7 {
		width: 100%;
		height: 3%;
		position: absolute;
		right: 0;
		top: 42.5%;
		text-align: right;
		padding-right: 1%;
		background:  #f3b13d; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(-90deg,  #d4d8d7, #f3b13d); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(-90deg,  #d4d8d7, #f3b13d); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(-90deg,  #d4d8d7, #f3b13d); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(-90deg,  #d4d8d7, #f3b13d); /* Standard syntax */
	  	z-index: 2;
	}

	#line8 {
		width: 100%;
		height: 3%;
		position: absolute;
		right: 0;
		top: 47.5%;
		text-align: right;
		padding-right: 1%;
		background:  #f3b13d; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(-45deg,  #d4d8d7, #f3b13d); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(-45deg,  #d4d8d7, #f3b13d); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(-45deg,  #d4d8d7, #f3b13d); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(-45deg,  #d4d8d7, #f3b13d); /* Standard syntax */
	    z-index: 2;
	}

	#line9 {
		width: 100%;
		height: 3%;
		position: absolute;
		right: 0;
		top: 52.5%;
		text-align: right;
		padding-right: 1%;
		background:  #f3b13d; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(-90deg,  #d4d8d7, #f3b13d); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(-90deg,  #d4d8d7, #f3b13d); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(-90deg,  #d4d8d7, #f3b13d); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(-90deg,  #d4d8d7, #f3b13d); /* Standard syntax */
	    z-index: 2;
	}
	  


/* ----------------------------------------------------------------- */
/* this section is styling the mainCoverContainer */
	#introCover {
		position: absolute;
		width: 100%;
		height: 65%;
	    top: 35%;
	    left: 0;
		z-index: 3;
		padding-left: 6%;
		padding-right: 6%;
		padding-top: 2%;
		overflow: scroll;
		background-color: #FFF;
		display: none;
		border-style: solid;
		border-width: 0 0 0 1px;
		border-color: black;
	}

	#description {
		z-index: 2;
		text-align: left;
		position: absolute;
		left: 10%;
		top: 22.5%;
	}

	#contact {
		position: absolute;
		right: 5%;
		text-align: right;
	}

	#contactTitle {
		position: absolute;
		right: 10%;
	}

	#information {
		position: absolute;
		right: 5%;
		text-align: right;
		top: 22.5%;
	}

	#linking > a > img {
		width: 10%;
		height: auto;
		margin-right: 1.5%;
		display: inline-block;
	}

	#signature {
	    position: absolute;
	    top: 22.5%;
	    left: 4%;
	    z-index: 2;
	}

	#sign {
		top: 10%;
		position: absolute;
		width: 90%;
		z-index: 2;
	}

	#folio {
		color: #fff;
		font-size: 85%;
		margin-top: 4px;
	}

	#folio:hover {
		color: gray;
	}

	#about {
		color: #fff;
		font-size: 85%;
		margin-top: 4px;
	} 

	#aboutTab:hover {
		color: gray;
	}

	#aboutTab {
		color: #fff;
		font-size: 85%;
		margin-top: 4px;
	}


/* ----------------------------------------------------------------- */
/* this section is styling the navigation bar on the portfolio page */
	#navBar {
		width: 100%;
		height: 4vh;
		margin-bottom: 1%;
		display: none;
		color: #fff;
		background-color: #000;
		z-index: 1;
	}

	#artLink {
		color: #fff;
		margin-top: 5.5px;
	}

	#codeLink {
		color: #fff;
		margin-top: 5.5px;
	}

	#artLink > a:hover {
		text-decoration-line: none;
		color: gray;
	}

	#codeLink > a:hover {
		text-decoration-line: none;
		color: gray;
	}

	#art > a:hover {
		text-decoration-line: none;
	}

	#code > a:hover {
		text-decoration-line: none;
	}

	.glyphicon-home {
		color: #fff;
		margin-top: 5.5px;
	}

	.glyphicon-home:hover {
		color: #f3b13d;
	}

	#x{
		color: black;
		margin-top: 5.5px;
	}


/* ----------------------------------------------------------------- */
/* this section is styling the portfolio page body */
	#portfolioBody {
		width: 100%;
		height: 95vh;
	    top: 5%;
	    overflow: scroll;
	    position: absolute;
	    padding: 5%;
		z-index: 0;
		display: none;
	}

	#portfolio {
		width: 100%;
		height: 95vh;
		display: none;
	    top: 5%;
	 	z-index: 0;
	}


/* ----------------------------------------------------------------- */
/* this section is styling the contact page body */
	#aboutInfo {
		width: 100%;
		height: 95vh;
		top: 5%;
		overflow: scroll;
		position: absolute;
		padding: 5%;
		z-index: 0;
		display: none;
	}

	#aboutNavBar {
		width: 100%;
		height: 4vh;
		margin-bottom: 1%;
		display: none;
		color: #fff;
		background-color: #000;
		z-index: 1;
	}


/* ----------------------------------------------------------------- */
/* this section is styling the thumb container and the actual thumbnails */
	#thumbContainer {
		display: none;
		height: 95vh;
		z-index: 0;
		margin-left: auto;
		margin-right: auto;
	}

	#artThumbs {
		z-index: 0;
		margin-left: auto;
		margin-right: auto;
	}

	#codeThumbs {
		z-index: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.codingScreenShots {
		width: 50%;
		height: auto;
	}

	.artThumbnails {
		display: inline-block;
		margin: 2.5%;
		border-radius: 5%;
		color: #000;
		width: 12.5vw;
	    height: 12.5vw;
	    z-index: 0;
	    position: relative;
	    overflow: hidden;
	    border: .25px solid #000;
	}

	.codeThumbnails {
		display: inline-block;
		margin: 2.5%;
		overflow: hidden;
		background-position: right;
		border-radius: 5%;
		color: #000;
	    width: 12.5vw;
	    height: 12.5vw;
	    z-index: 0;
	    border: .25px solid #000;
	}

	.artThumbnails:hover {
		box-shadow: 7.5px 7.5px 2.5px #888888;
	}

	.codeThumbnails:hover {
		box-shadow: 7.5px 7.5px 2.5px #888888;
	}


/* ----------------------------------------------------------------- */
/* this section is styling the portfolio page once the thumbs are clicked on and the work is being presented */
	.title {
		text-align: center;
		font-size: 100%;
		margin: auto;
		left: 10%;
	} 

	.codeTitle {
		font-size: 30px;
	}

	.projectDescription {
		margin-top: 2.5%;
		width: 50%;
	}

	#portfolio > #carousel-example-generic {
		max-height: 100%;  
		max-width: 100%; 
		position: absolute;  
		top: 0;  
		bottom: 0;  
		left: 0;  
		right: 0;  
		margin: auto;
	}
	
	.carousel-caption {
		color: #000;
		background: #fff; /* For browsers that do not support gradients */
	}

	.carousel-control.left, .carousel-control.right {
	    background-image: none;
	    color: gray;
	}

	.carousel-inner > .item {
		height: 90vh;
	}

	.carousel-inner > .item img {
		max-height: 100%;  
		max-width: 100%; 
		position: absolute;  
		top: 0;  
		bottom: 0;  
		left: 0;  
		right: 0;  
		margin: auto;
	}


